<div class="container account_transactions_create">
  <div class="row py-4">
    <div class="col">
      <h1>Connect to Stripe</h1>
      <p><%= image_tag "credit_card.svg", size: "85" %> </p>
      <p>ADD <strong><%= image_tag "oddz_coin4.svg", size:"36", style:"margin-bottom: 6px"%><%= humanized_money(@transaction.amount)%></strong> <br> TO YOUR WALLET </p>
      <button id="pay" class="btn-purple">Go to Stripe</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @transaction.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
  <div class="settings-link d-flex flex-column bd-highlight mb-3">
    <%= link_to account_wallet_path, class: "wrap-link" do  %>
    <div class="link d-flex justify-content-between align-items-center"><p>Back to Wallet</p><%= image_tag "small_arrow_right.svg" %>
    </div>
    <% end %>
  </div>

</div>