<div class="container account_transactions_show">
  <div class="row py-4 justify-content-center">
    <div><h1>Transaction #<%= @transaction.id %> </h1></div>
    <div class="btn-transaction"><%= @transaction.state %></div>
    <div class="receipt">
      <div class="issued">ISSUED ON<br>- <%=@transaction.created_at.to_date.strftime("%d.%m.%y")%> -</div>
      <div class="total">TOTAL<br>- <%= image_tag "oddz_coin4.svg", size: "20", style: "margin-bottom: 5px"%><%= humanized_money(@transaction.amount)%> -</div>
      <div class="phrase"><p>Team oddz wishes you a Merry Christmas and a happy New Year!</p></div>
    </div>
  </div>

  <div class="settings-link d-flex flex-column bd-highlight mb-3">
    <%= link_to root_path, class: "wrap-link" do  %>
    <div class="link d-flex justify-content-between align-items-center"><p>Back Home</p><%= image_tag "small_arrow_right.svg" %>
    </div>
    <% end %>
  </div>
</div>