<div class = "container account_settings_wallet">
	<h1>Wallet</h1>
	<p><%= image_tag "wallet.svg" %> </p>
	<p class="wallet-amount" style="color:white"><%= image_tag "oddz_coin4.svg", size: "33"%><%= humanized_money(current_user.balance) %></p>
	<%= form_tag account_transactions_path do %>
	  <%= text_field_tag 'amount', '', placeholder: 'oddz coins', autocomplete: 'off', id: 'wallet', required: true %>
	  <%= submit_tag 'Pay-In', id: 'submit_amount'%>
	<% end %>
<!-- <button class="btn-purple">Cash-Out</button> -->
</div>