<!-- Tabs Start -->
<div class="radio-tabs">

	<input class="state" type="radio" title="currents" name="bets-state" id="currents" checked />
  <input class="state" type="radio" title="pasts" name="bets-state" id="pasts" />

	<div class="tabs mb-2 mt-2">
    <label for="currents" id="currents-tab" class="tab">Current Bets</label>
    <label for="pasts" id="pasts-tab" class="tab">Past Bets</label>
  </div>

	<div class="panels">
    <ul id="currents-panel" class="panel active">
<!-- Current Bets -->
			<div class = "container account_history_index">
				<% if @current_bets.empty? %>
					<h2><span><%= "No Current Bets" %></span></h2>
				<% else %>
					<div class="bet-status">
				  	<% @current_bets.each do |bet| %>
				    	<div class="current-bet-request" style="background-color: <%= ["#58587C", "#323244", "#696978", "#7A7AA1", "#8484CC", "#474776", "#2D2D57", "#3A3452"].sample %>">
								<div class="request-upperwrap d-flex justify-content-between">
									<%= bet.start_time.strftime("%d.%m.%y")%>
									<div class="request-upperwrap d-flex justify-content-between">
										<div id="current-coin"><%= image_tag "oddz_coin_purple.svg", size: "20", class: "ml-0"%></div>
										<div id="current-stake"><%= humanized_money(bet.stake)%></div>
									</div>
								</div>
				      	<div class="current-bet-content d-flex justify-content-between">
									<% if bet.user == current_user %>
                    <div class="current-text">Your bet against <strong><%=bet.friend.username%></strong></div>
                  <% else %>
                    <div class="current-text">Your bet against <strong><%=bet.user.username%></strong></div>
                  <% end %>
									<div class="current-arrow d-flex"><%= image_tag "arrow_right.svg" %></div>
								</div>
				   		</div>
				   	<% end %>
				  </div>
				<% end %>
			</div>
		</ul>

		<ul id="pasts-panel" class="panel">
			<!-- Past Bets -->
			<div class = "container account_history_index">
				<% if @past_bets.empty? %>
					<h2><span><%= "No Past Bets" %></span></h2>
				<% else %>
					<div class="bet-status">
				  	<% @past_bets.each do |bet| %>
				    	<div class="past-bet-request" style="background-color: <%= ["#58587C", "#323244", "#696978", "#7A7AA1", "#8484CC", "#474776", "#2D2D57", "#3A3452"].sample %>">
								<div class="request-upperwrap">
									<%=bet.start_time.strftime("%d.%m.%y")%>
								</div>
				      	<div class="past-bet-content d-flex justify-content-between">
                  <% if bet.user == current_user %>
                    <div class="past-text">Your bet against <strong><%=bet.friend.username%></strong></div>
                  <% else %>
                    <div class="past-text">Your bet against <strong><%=bet.user.username%></strong></div>
                  <% end %>
									<% if bet.winner == current_user %>
									<div class="past-stake d-flex"><div>+<%= image_tag "oddz_coin_green.svg", size: "25", class: "ml-0 pb-1" %><%=humanized_money(bet.stake)%></div></div>
									<% else %>
									<div class="past-stake d-flex bet-loser"><div>-<%= image_tag "oddz_coin_red.svg", size: "25", class: "ml-0 pb-1" %><%=humanized_money(bet.stake)%></div></div>
									<% end %>
								</div>
				   		</div>
				   	<% end %>
				  </div>
				<% end %>
			</div>
		</ul>
	</div>
<!-- Tabs End -->
</div>
