<!--
<div class = "container account_invitations_pending">
	<%# if @bets.empty? %>
		<h1><span><%#= "No Bet Invitations" %></span></h1>
	<%# else %>
		<h1><span><%#= "Bet Invitations" %></span></h1>
		<div class="bet-status">
			<%# @bets.each do |bet| %>
				<div class="bet-request" style="background-color: <%#= ["#58587C", "#323244", "#696978", "#7A7AA1", "#8484CC", "#474776", "#2D2D57", "#3A3452"].sample %>">
					<div class="request-upperwrap text-center">
						<%#= cl_image_tag bet.user.avatar, alt: bet.user.username, width: 40, height: 40, crop: :fill, class:"avatar fixed-avatar", style:"object-fit: cover"%>
						<%#= bet.user.username %>
					</div>
						<div class="bet-content">
							<p>I bet you <strong><%#= image_tag "oddz_coin4.svg", size: "18"%><%#=humanized_money(bet.stake)%></strong> that <strong><%#= bet.video_title %></strong>  will reach <strong><%#= bet.metric_count %> <%#= bet.metric %></strong> in <strong><%#= distance_of_time_in_words(bet.end_time - Time.now) %></strong></p>
						</div>
					<div class="status-change d-flex">
							<%#= button_to "Accept", accept_bet_path(bet), method: :post, class:"status-option status-option-accept text-center", style:"width: 100%; border-right: none"%>
							<%#= button_to "Reject", reject_bet_path(bet), method: :post,  class:"status-option status-option-reject text-center", style:"width: 100%; border-right: none"%>
					</div>
				</div>
			<%# end %>
		</div>
	<%# end %> -->

    <% @bets.each do |bet| %>
  <div class="details-container" style="">
  <div class="image-container" style="background-image: linear-gradient(rgba(10,10,10,0.2), rgba(50,50,50,0.7)), url(<%= bet.thumbnail %>)" id="details-thumbnail">
      <!-- <img src="https://i.ytimg.com/vi/leJNDpm_G10/hqdefault.jpg" alt="<%= bet.video_title %>" id="details-thumbnail"> -->
  <div class="d-flex align-items-center"  id="avatar-for-details" >
    <img src="<%= bet.user.avatar %>" class="avatar-large-bordered m-0" crop: :fill style="object-fit: cover" />
    <p class="my-0 ml-2">LEOPOLD</p>
  </div>
    <div data-remaining-time="<%= bet.time_to_accept %>" id="running-time">
      <div class="bet-remaining-time" style="color: white"></div>
    </div>
    <div class="details-title">
      <h5 style="color: white"> <%= bet.video_title %> </h5>
    </div>
  </div>

  <div class="details-infos">
    <div class="current-metric">
      <div><h6><%= image_tag("play_white.svg", size: '20') %> <%= number_with_delimiter(@real_count, :delimiter => ',') %></h6></div>
    </div>

    <div class="details-lowerwrapper d-flex px-0">

        <div class="details-attributes col-4 px-0 mx-0"><p>STAKE</p>
          <%=image_tag("oddz_coin_purple.svg", size: '30') %>
          <p> <%= humanized_money(bet.stake) %> coins</p>
        </div>
        <div class="details-attributes col-4 px-0 mx-0"><p><%= bet.metric.upcase %> </p>
          <%=image_tag("video.svg", size: '30') %>
          <p><%= number_with_delimiter(bet.metric_count, :delimiter => ',') %></p>
        </div>
        <div class="details-attributes col-4 px-0 mx-0"><p>DEADLINE</p>
        <%=image_tag("time.svg", size: '30') %>
        <p>13.11.19 11:11<%#= @time_until_end %></p>
        </div>
    </div>
  </div>

  <div class="status-change d-flex">
        <%= button_to "Accept", accept_bet_path(bet), method: :post, class:"status-option status-option-accept text-center", style:"width: 100%; border-right: none"%>
        <%= button_to "Reject", reject_bet_path(bet), method: :post,  class:"status-option status-option-reject text-center", style:"width: 100%; border-right: none"%>
  </div>


  </div>
  <% end %>




