  <div class="title-for-details-show"><h1><%= "Bet Invitation" %></h1></div>

  <div class="details-container" id="details-show-container">
  <div class="image-container" style="background-image: linear-gradient(rgba(10,10,10,0.4), rgba(50,50,50,0.05)), url(<%= @bet.thumbnail %>)" id="details-show-thumbnail">
  <div class="d-flex align-items-center justify-content-between"  id="avatar-for-details" >
    <div class="d-flex align-items-center">
      <img src="<%= @bet.user.avatar %>" class="avatar-large-bordered m-0" crop: :fill style="object-fit: cover" />
      <p class="my-0 ml-2"><%= @bet.user.username.upcase %></p>
    </div>
    <div data-remaining-time="<%= @bet.time_to_accept %>" id="running-time" style="top: -11%">
      <div class="bet-remaining-time" style="color: white"></div>
    </div>
  </div>
  </div>

  <div class="details-infos">

    <div class="details-title">
      <h5 style="color: white"> <%= @bet.video_title.upcase %> </h5>
      <div class="current-metric" style="top: 48%">
        <div><h6><%= image_tag("play_white.svg", size: '20') %><%= number_with_delimiter(@real_count, :delimiter => ',') %></h6></div>
      </div>
    </div>
    <div class="details-lowerwrapper d-flex px-0">

        <div class="details-attributes col-4 px-0 mx-0"><p>STAKE</p>
          <%=image_tag("oddz_coin_purple.svg", size: '30') %>
          <p> <%= humanized_money(@bet.stake) %> coins</p>
        </div>
        <div class="details-attributes col-4 px-0 mx-0"><p><%= @bet.metric.upcase %> </p>
          <%=image_tag("video.svg", size: '30') %>
          <p><%= number_with_delimiter(@bet.metric_count, :delimiter => ',') %></p>
        </div>
        <div class="details-attributes col-4 px-0 mx-0"><p>DEADLINE</p>
        <%=image_tag("time.svg", size: '30') %>
        <p>13.11.19 11:11<%#= @time_until_end %></p>
        </div>
    </div>
  </div>

  <div class="status-change d-flex">
        <%= button_to "Accept", accept_bet_path(@bet), method: :post, class:"status-option status-option-accept text-center", style:"width: 100%; border-right: none"%>
        <%= button_to "Reject", reject_bet_path(@bet), method: :post,  class:"status-option status-option-reject text-center", style:"width: 100%; border-right: none"%>
  </div>
  </div>
