<div class="title-for-details-show"><h1><%= "Bet Summary" %></h1></div>
<div class="details-container" id="details-show-container">
  <div class="image-container" style="background-image: linear-gradient(rgba(10,10,10,0.4), rgba(50,50,50,0.05)), url(<%= params[:thumbnail] %>)" id="details-show-thumbnail">
  <div class="d-flex align-items-center justify-content-between"  id="avatar-for-details" >
    <div class="d-flex align-items-center">
      <img src="<%= @bet.user.avatar %>" class="avatar-large-bordered m-0" crop: :fill style="object-fit: cover" />
      <p class="my-0 ml-2" id="friend-summary"></p>
    </div>
  </div>
  </div>
  <div class="details-infos">

    <div class="details-title">
      <h5 style="color: white" id="target-summary"> </h5>
      <div class="current-metric" style="top: 48%">
        <div><h6><%= image_tag("play_white.svg", size: '20') %><%= number_with_delimiter(@real_count, :delimiter => ',') %></h6></div>
      </div>
    </div>
    <div class="details-lowerwrapper d-flex px-0">

      <div class="details-attributes col-4 px-0 mx-0"><p>STAKE</p>
        <%=image_tag("oddz_coin_purple.svg", size: '30') %>
        <p style="font-size: 14px" id="stake-summary"> coins</p>
      </div>
      <div class="details-attributes col-4 px-0 mx-0"><p></p>
        <%=image_tag("video.svg", size: '30') %>
        <p style="font-size: 14px" id="hidden_metric_count"></p>
      </div>
      <div class="details-attributes col-4 px-0 mx-0"><p>DEADLINE</p>
        <%=image_tag("time.svg", size: '30') %>
        <p style="font-size: 14px" id="metric_count_time-summary"></p>
      </div>
    </div>
  </div>
</div>


document.getElementById('hidden_metric_count').innerHTML
parseInt(document.getElementById('hidden_metric_count').value, 10)

document.getElementById('target-summary').innerHTML = "<%= params[:title] %>"
document.getElementById('metric_count_time-summary').innerHTML = "<%= params[:duration] %>"
document.getElementById('hidden_metric_count').innerHTML = "<%= params[:hidden_metric_count] %>"
document.getElementById('stake-summary').innerHTML =
      document.getElementById('bet_stake').value


    document.getElementById('friend-summary').innerHTML =
      document.getElementById('bet_friend').value
  })
