// const videoList = document.getElementById("video_result").addEventListener('keypress', function (e) {
//   const key = e.which || e.keyCode;
//   if (key === 13)
// })

function refreshSearch() {
  const newSearchForm = document.getElementById('search');
  const removeAutcomplete = document.getElementById('autocomplete_style');
  newSearchForm.value = "";
  removeAutcomplete.style.display = "none";
}

function listVideos() {
  const searchResults = document.getElementById('search_results');
  searchResults.innerHTML = '';
  <% @data["items"].each do |item| %>
    searchResults.insertAdjacentHTML('beforeend', '<%= link_to new_bet_path(target: item["id"], title: item["snippet"]["title"], method: :post) do %><div class="video_card" style="background-color: <%= ["#58587C", "#323244", "#696978", "#7A7AA1", "#8484CC", "#474776", "#2D2D57", "#3A3452"].sample %>"><div><img src="<%= item["snippet"]["thumbnails"]["high"]["url"] %>" alt="Thumbnail"></div><div class="video_info"><div class="vid_title"><p><%= item["snippet"]["title"]%></p></div><div class="d-flex data-channel-info justify-content-between"><p> <%= item["snippet"]["channelTitle"]%></p><p> <%= time_ago_in_words(DateTime.parse(item["snippet"]["publishedAt"]))%> ago</p></div></div></div><% end %>')
  <% end %>
}

function listChannels() {
  const searchResults = document.getElementById('search_results');
  searchResults.innerHTML = '';
  <% @data["items"].each do |item| %>
    searchResults.insertAdjacentHTML('beforeend', '<%= link_to new_bet_path(target: item["id"], title: item["snippet"]["title"], method: :post) do %><div class="channel_card" style="background-color: <%= ["#58587C", "#323244", "#696978", "#7A7AA1", "#8484CC", "#474776", "#2D2D57", "#3A3452"].sample%>"><div><img src="<%= item["snippet"]["thumbnails"]["high"]["url"] %>" alt="Thumbnail"></div><div><p> <%= item["snippet"]["title"]%></p></div></div><% end %>')
  <% end %>
}


if (<%= params[:type] == "video" %>) {
  listVideos();}
else {
listChannels();
}

// refreshSearch('<%#= j render "new"%>, @bet = Bet.new')
refreshSearch()
