<% cat = notification.category %>
<% if ["Bet Won", "Bet Lost", "Accepted Bet Invitation", "Rejected Bet Invitation"].include?(cat) %>
  <% link_path = account_bets_path %>
<% elsif cat == "New Bet Invitation" %>
  <% link_path = pending_account_bets_path %>
<% elsif ["Friend Request Accepted", "New Friend Request"].include?(cat) %>
  <% link_path = friends_path %>
<% end %>

<%= link_to link_path do %>
  <% if notification.seen%>
    <div class="notification-card-seen">
      <div class="notification-category-seen">
        <%= notification.category %>
      </div>
      <div class="notification-width-seen">
        <% if notification.category == "Bet Won"%>
          <p style="font-size: 20px">You won against <%=User.find(notification.notifiable_id).username%> </p>
        <% elsif notification.category == "Bet Lost" %>
          <p style="font-size: 20px">You lost against <%=User.find(notification.notifiable_id).username%> </p>
        <% elsif notification.category == "Accepted Bet Invitation" %>
          <p style="font-size: 20px"><%=User.find(notification.notifiable_id).username%> accepted your bet</p>
        <% elsif notification.category == "Rejected Bet Invitation" %>
          <p style="font-size: 20px"><%=User.find(notification.notifiable_id).username%> rejected your bet</p>
        <% elsif notification.category == "New Bet Invitation" %>
          <p style="font-size: 20px"><%=User.find(notification.notifiable_id).username%> sent you a bet invitation</p>
        <% elsif notification.category == "Friend Request Accepted" %>
        <p style="font-size: 20px"><%=User.find(notification.notifiable_id).username%> accepted your friend request</p>
          <% elsif notification.category == "New Friend Request" %>
        <p style="font-size: 20px"><%=User.find(notification.notifiable_id).username%> sent you a friend request</p>
          <% end %>
      </div>
      <div class="notification-arrow-seen">
        <%= image_tag "arrow_right.svg" %>
      </div>
    </div>
  <% else %>
    <div class="notification-card-new">
      <div class="notification-category-new">
        <%= notification.category %>
      </div>
      <div class="notification-width-new">
        <% if notification.category == "Bet Won"%>
          <p style="font-size: 20px">You won against <%=User.find(notification.notifiable_id).username%> </p>
        <% elsif notification.category == "Bet Lost" %>
          <p style="font-size: 20px">You lost against <%=User.find(notification.notifiable_id).username%> </p>
        <% elsif notification.category == "Accepted Bet Invitation" %>
          <p style="font-size: 20px"><%=User.find(notification.notifiable_id).username%> accepted your bet</p>
        <% elsif notification.category == "Rejected Bet Invitation" %>
          <p style="font-size: 20px"><%=User.find(notification.notifiable_id).username%> rejected your bet</p>
        <% elsif notification.category == "New Bet Invitation" %>
          <p style="font-size: 20px"><%=User.find(notification.notifiable_id).username%> sent you a bet invitation</p>
        <% elsif notification.category == "Friend Request Accepted" %>
        <p style="font-size: 20px"><%=User.find(notification.notifiable_id).username%> accepted your friend request</p>
          <% elsif notification.category == "New Friend Request" %>
        <p style="font-size: 20px"><%=User.find(notification.notifiable_id).username%> sent you a friend request</p>
          <% end %>
      </div>
      <div class="notification-arrow-new">
        <%= image_tag "arrow_right.svg" %>
      </div>
    </div>
  <% end %>
<% end %>




