<% cat = notification.category %>
<% if ["Bet Won", "Bet Lost", "Accepted Bet Invitation", "Rejected Bet Invitation"].include?(cat) %>
  <% link_path = account_bets_path %>
<% elsif cat == "New Bet Invitation" %>
  <% link_path = pending_account_bets_path %>
<% elsif ["Accepted Friend Request", "New Friend Request"].include?(cat) %>
  <% link_path = friends_path %>
<% end %>

<%= link_to link_path do %>
  <% if notification.seen%>
    <div class="notification-card-seen">
      <div class="notification-category-seen">
        <div>
          <%= notification.category %>
        </div>
        <div>
          OLD
        </div>
      </div>
      <div class="notification-width-seen">
        <% if notification.category == "Bet Won"%>
          <p>You won against <strong><%=User.find(notification.notifiable_id).username%></strong> </p>
        <% elsif notification.category == "Bet Lost" %>
          <p>You lost against <strong><%=User.find(notification.notifiable_id).username%></strong> </p>
        <% elsif notification.category == "Accepted Bet Invitation" %>
          <p><strong><%=User.find(notification.notifiable_id).username%></strong> accepted your bet</p>
        <% elsif notification.category == "Rejected Bet Invitation" %>
          <p><strong><%=User.find(notification.notifiable_id).username%></strong> rejected your bet</p>
        <% elsif notification.category == "New Bet Invitation" %>
          <p><strong><%=User.find(notification.notifiable_id).username%></strong> sent you a bet invitation</p>
        <% elsif notification.category == "Accepted Friend Request" %>
          <p><strong><%=User.find(notification.notifiable_id).username%></strong> accepted your friend request</p>
        <% elsif notification.category == "New Friend Request" %>
          <p><strong><%=User.find(notification.notifiable_id).username%></strong> sent you a friend request</p>
          <% end %>
      </div>
      <div class="notification-arrow-seen">
        <%= image_tag "arrow_right.svg" %>
      </div>
    </div>
  <% else %>
    <div class="notification-card-new">
      <div class="notification-category-new">
        <div>
          <%= notification.category %>
        </div>
        <div>
          NEW
        </div>
      </div>
      <div class="notification-width-new">
        <% if notification.category == "Bet Won"%>
          <p>You won against <strong><%=User.find(notification.notifiable_id).username%></strong> </p>
        <% elsif notification.category == "Bet Lost" %>
          <p>You lost against <strong><%=User.find(notification.notifiable_id).username%></strong> </p>
        <% elsif notification.category == "Accepted Bet Invitation" %>
          <p><strong><%=User.find(notification.notifiable_id).username%></strong> accepted your bet</p>
        <% elsif notification.category == "Rejected Bet Invitation" %>
          <p><strong><%=User.find(notification.notifiable_id).username%></strong> rejected your bet</p>
        <% elsif notification.category == "New Bet Invitation" %>
          <p><strong><%=User.find(notification.notifiable_id).username%></strong> sent you a bet invitation</p>
        <% elsif notification.category == "Accepted Friend Request" %>
        <p><strong><%=User.find(notification.notifiable_id).username%></strong> accepted your friend request</p>
          <% elsif notification.category == "New Friend Request" %>
        <p><strong><%=User.find(notification.notifiable_id).username%></strong> sent you a friend request</p>
          <% end %>
      </div>
      <div class="notification-arrow-new">
        <%= image_tag "arrow_right.svg" %>
      </div>
    </div>
  <% end %>
<% end %>




