
<div class = "container friends_add_friends_index">

  <div class = "friend-form">
    <h1>Friends</h1>
    <%= form_with(url: request_friend_path, method: :post, remote: true, :html => {:id => "friend-form"}) do %>
      <%= text_field_tag :username, '', placeholder: 'e.g. Alvino', autocomplete: 'off', id: 'add_friend' %>
      <%= submit_tag  "Add friend", id: 'submit_friend'%>
    <% end %>
  </div>

  <div class = "received-requests">
    <h3>Received Requests</h3>
    <div class="bet-status">
      <% current_user.requested_friends.each do |friend| %>
        <div data-friend-id="<%= friend.id %>" class="friend-request" style="background-color: <%= ["#58587C", "#323244", "#696978", "#7A7AA1", "#8484CC", "#474776", "#2D2D57", "#3A3452"].sample %>">
          <div class="request-upperwrap text-center">
            <%= cl_image_tag friend.avatar, alt: friend.username, crop: :fill, class:"avatar fixed-avatar", style:"object-fit: cover"%>
          </div>
            <div class="friend-content">
              <p > <%= friend.username %> would like to be friends with you</p>
            </div>
            <div class="status-change d-flex">
              <%= button_to "Accept", accept_friend_friend_path(friend), method: :post, remote: true, class:"status-option status-option-accept text-center", style:"width: 100%; border-right: none"%>
              <%= button_to "Reject", decline_friend_friend_path(friend), method: :post, remote: true,  class:"status-option status-option-reject text-center", style:"width: 100%; border-right: none"%>
            </div>
          </div>
          <% end %>
        </div>
      </div>

  <div class = "sent-requests">
    <h3>Sent Requests</h3>
    <ul id="pending-friends">
    <% current_user.pending_friends.each do |friend| %>
      <li><%= friend.username %></li>
    <% end %>
    </ul>
  </div>


  <div class = "friends-all">
    <h3>Friends</h3>
    <ul id="friends-list">
    <% current_user.friends.each do |friend| %>
      <li><%= friend.username %></li>
    <% end %>
    </ul>
  </div>
</div>
