function refreshForm(innerHTML) {
  const newFriendForm = document.getElementById('friend-form');
  newFriendForm.innerHTML = innerHTML;
}

function addSentRequest() {
  const sentRequests = document.getElementById('pending-friends');
  sentRequests.insertAdjacentHTML('afterbegin', '<li><%= params["username"] %></li>');
}



<% unless @friended_user %>
  refreshForm( `<%= form_with(url: request_friend_path, method: :post, remote: true, :html => {:id => 'friend-form'}) do %><%= text_field_tag :username, '', placeholder: 'e.g. Alvino', autocomplete: 'off', id: 'add_friend' %><%= submit_tag  'Add friend', id: 'submit_friend' %><% end %><p style="color: red">User does not exist</p>`);
<% else %>
  addSentRequest();
  refreshForm( `<%= form_with(url: request_friend_path, method: :post, remote: true, :html => {:id => 'friend-form'}) do %><%= text_field_tag :username, '', placeholder: 'e.g. Alvino', autocomplete: 'off', id: 'add_friend' %><%= submit_tag  'Add friend', id: 'submit_friend' %><% end %>`);
<% end %>
