
<div class="details-page-header">

<div class="details-container" style="">
  <div class="image-container" style="background-image: linear-gradient(rgba(50,50,50,0.7), rgba(10,10,10,0.2)), url(<%= @bet.thumbnail %>)" id="details-thumbnail">
      <!-- <img src="https://i.ytimg.com/vi/leJNDpm_G10/hqdefault.jpg" alt="<%= @bet.video_title %>" id="details-thumbnail"> -->
    <div class="details-title">
      <h3> <%= @bet.video_title %></h3>
    </div>
  </div>
  <div class="details-infos">
    <div class="details-target-stats d-flex">
      <div>
          <div><p>Right now: <%= @real_count %></p></div>
          <div><p>$<%= humanized_money(@bet.stake) %></p></div>
      </div>
      <div>
          <div><p><%= @bet.metric_count %>in 00:00:00</p></div>
      </div>
      </div>
      <!-- <div id="circle-1" data-circle-startValue="<%#= (@bet.start_time * 0.1) %>">
        <div class="loader-bg">
        <div class="text">00:00:00</div>
      </div>
      </div> -->
    </div>
  <div>
    <img src="<%= @bet.user.avatar %> " class="avatar-large-bordered" id="avatar-for-details" />
  </div>
</div>


<script>
    new Circlebar({
        element : "#circle-1"
    });
</script>


