<div class="navbar navbar-expand-sm navbar-light navbar-oddz">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "wallet.svg"%>
  <% end %>
  <% if user_signed_in? %>
    <div class="nav-item active">
      <%= link_to "oddz", "#", class: "nav-link nav-color" %>
    </div>
    <div class="nav-item">
      <%= link_to account_settings_path do %><%= cl_image_tag(current_user.avatar, width: 40, height: 40, crop: :fill, class: "avatar")%><% end %>
    </div>
  <% else %>
    <div class="nav-item">
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </div>
  <% end %>
</div>
