  <% if user_signed_in? %>
<div class="navbar sticky navbar-expand-sm navbar-light navbar-oddz">
  <div class = "nav-wallet d-flex">
    <%= link_to account_wallet_path, class: "navbar-brand" do %>
      <div id="nav-wallet"><%= image_tag "wallet-icon.svg"%></div>
      <div id="nav-coin"><%= image_tag "oddz_coin4.svg", size: "18"%></div>
      <div id="nav-money"><%= humanized_money(current_user.balance)%></div>
    <% end %>
  </div>
    <div class="nav-item active d-flex">
      <%= link_to "oddz", root_path, class: "nav-link nav-color" %>
    </div>
    <div class="nav-item">
      <div id = "nav-menu"><%= link_to account_settings_path do %><%= image_tag "menu.svg" %><% end %></div>

    </div>
    <% new_notifications = Notification.where(user_id: current_user, seen: false) %>
    <% unless new_notifications.empty?%>
      <div class="notification-image">
        <%= image_tag "notification.svg" %>
      </div>
    <% end %>
  <% end %>
</div>


