<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable"  content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <%= render 'shared/ios_pwa_links' %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee|Poppins|Roboto+Mono:100,300,400&display=swap" rel="stylesheet">
    <!-- <link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.min.css" rel="stylesheet"></link> -->
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/circlebars@1.0.3/dist/circle.css">
  </head>
  <body class="dark-bckgrnd">
    <div id="non-mobile">
      <%= image_tag "mobile-first.svg", id:"mobile-first" %>
      <h1>Pick up the phone!</h1>
      <br>
      <h3>oddz is betting on mobile-first. Open this page on a smaller screen to start challenging your friends!</h3>
    </div>
    <div id="mobile">
    <%= render 'shared/navbar' unless current_page?(new_user_session_path) || current_page?(new_user_registration_path) || current_page?(landing_path) %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <%= render 'shared/betbar' if current_page?(root_path) || current_page?(friends_path) || current_page?(pending_account_bets_path) || current_page?(account_bets_path) || current_page?(account_settings_path) || current_page?(new_account_transaction_path) || current_page?(account_wallet_path) || current_page?(account_notifications_path)%>

    <%= yield(:after_js) %>
    </div>
  </body>
</html>
